/*#sleak-widget-container {
  width: 420px !important;
}

#sleak-buttonwrap {
  transform: scaleX(-1) !important;
  right: unset !important;
  left: 0 !important;
}

#sleak-widgetwrap {
  left: 20px !important;

  right: unset !important;

  width: 100vw !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

#sleak-popup-embed {
  right: unset !important;
  left: 0 !important;
}*/

#sleak-widget-container {
  height: 100%;
  z-index: 1;
}

#sleak-loadingwrap {
  position: absolute;
  display: flex;
  height: 595px;
  width: 360px;
  background-color: #fff;
  box-sizing: border-box; /* Includes margin in element's width and height */
  margin: 20px 20px 50px 0px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  z-index: 0;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically. */
  pointer-events: none;
}

#sleak-widget-iframe {
  /* display: none; */
  display: flex;
  pointer-events: auto !important;
  z-index: 1 !important;
  border-radius: 20px;
  transition: box-shadow 6s ease-in-out;
  /* box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.1); */
}

#sleak-loader {
  position: absolute;
  height: 16px;
  width: 16px;
  align-self: center !important;
}

#sleak-popup-embed {
  position: absolute;
  z-index: 9999999999;
  pointer-events: auto;
  height: auto;
  width: auto;
  background-color: rgba(255, 255, 255, 0);
  display: none;
  bottom: 82px;
  right: 0;
  width: 230px;
  height: 110px;
  align-items: flex-end;
  align-content: flex-end;
  border-radius: 18px;
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.1);
}

#sleak-popup-iframe {
  z-index: 99999999999999;
  height: 110px;
}

.sleak-embed {
  z-index: 1;
  min-width: 440px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
  align-items: flex-end;
  display: none;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0;
  z-index: 99999999;
  width: 440px;
  height: auto;
  min-height: 0;
  justify-content: flex-end;
  display: none;
  position: static;
}

#sleak-buttonwrap {
  pointer-events: auto;
  z-index: 9999999999999999;
  opacity: 0;
  height: 80px;
  width: 80px;
  bottom: 0;
  right: 0;
  position: absolute;
}

#sleak-buttonshadow {
  position: absolute;
  height: 65px;
  width: 65px;
  box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.2) !important;
  border-radius: 99px;
  align-self: center;
}

#sleak-btn-notification {
  box-sizing: border-box;
  z-index: 2;
  position: absolute;
  margin-left: 48px;
  margin-bottom: 48px;
  height: 17px;
  width: 17px;
  background-color: #48e385;
  border-radius: 99px;
  border: solid;
  border-width: 3px;
  border-color: #fff;
}

#sleak-widgetwrap {
  pointer-events: none;
  z-index: 999999999;
  max-height: 720px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0;
}

#sleak-bgoverlay {
  z-index: 0;
  width: 0;
  height: 0;
  max-height: 0;
  max-width: 0;
}

#sleak-body-embed {
  height: 700px;
  pointer-events: auto;
  bottom: 82px;

  position: absolute;
  right: 0;
}

#sleak-widget-open {
  display: none;
}

@media screen and (max-width: 479px) {
  #sleak-loadingwrap {
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
    pointer-events: auto;
  }

  #sleak-widgetwrap {
    z-index: 999999999 !important;
    width: 100vw;
    height: 100%;
    height: -webkit-fill-available;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    max-height: unset;
    box-shadow: unset;
    /* transition: all 0.05s ease-in-out; */
  }

  #sleak-widget-iframe {
    z-index: 1;
    height: 100% !important;
    height: -webkit-fill-available;
    top: 0;
    top: 0px;
    /*width: 100%;
      min-width: 100%;*/
    width: 100vw;
    min-width: 100vw;
    border-radius: 0;
  }

  #sleak-bgoverlay {
    z-index: -1;
    width: 100%;
    height: 150%;
    max-height: none;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: none;
    position: fixed;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0;
    overflow: hidden;
  }

  #sleak-body-embed {
    z-index: 999999999999999999;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    z-index: 1;
    /*margin-bottom: -95px;*/
  }

  #sleak-buttonwrap {
    z-index: 0;
  }

  .sleak-embed:focus {
    margin-bottom: 0;
  }

  #sleak-popup-embed {
    max-height: 175px !important;
  }
}
